
.gallery {
	padding: 50px 0;

	&--bigPad {
		padding-bottom: 124px;
	}

	&--bottomBorder {
		padding-bottom: 80px;
		border-bottom: 1px solid $c-borderGrey;
	}

	.grid {
		&__heading {
			margin-bottom: 48px;
		}

		&__heading-text {
			font-size: 64px;
			font-weight: bold;
			color: $c-black;
		}
		&__box {
			position: relative;
		// background-color: red;
		display: grid;
		// grid-auto-flow: column; // по умолчанию стоит row, но теперь нумерация идет по колонке
		grid-template-columns: 1fr 1fr; //оно отвечает за колоночки
		// grid-template-columns: repeat(
		//   auto-fit,
		//   minmax(180px, 1fr)
		// ); // аналогична записи первой строки - просто короче minmax (от ста до 200 пикселей)
		// grid-template-rows: repeat(
		//   3,
		//   1fr
		// ); //отвечает за ряды индивидуально по рядам
		//   grid-auto-rows: 2em; // сразу все; растягивает насколько угодно
		grid-column-gap: 30px; // аналогично
		grid-row-gap: 55px; // аналогично
		// grid-gap: 30px;

		// justify-items: strech; // глобальные штучки - center. strech - по умолчанию, start, end
		// align-items: strech;

		&--small {
			grid-template-columns: 1fr 1fr 1fr;
		}

			@media screen and (max-width: 1100px) {
				grid-template-columns: 1fr 1fr;
			}
		}

		&__box-link {
			position: relative;
			z-index: 1;
			overflow: hidden;
			text-decoration: none;

			&--action {
				cursor: default;
			}

			&:hover {
				.grid__box-overlay {
					opacity: 0;
				}
				.grid__box-description {
					opacity: 1;
					bottom: 0px;
				}
			}
		}

		&__box-img {
			width: 100%;
			height: 400px;

			transition: transform .9s;

			&:hover {
				transform: scale(1.3);
				cursor: url('../assets/icons/plus2.svg'), auto;
			}

			&--small {
				height: 300px;
			}
		}

		&__box-item {
			overflow: hidden;

			&--action {
				height: 300px;
				display: flex;justify-content: center;
				align-items: center;
			}

			@media screen and (max-width: 1300px) {
				height: 300px;
			}
		}

		&__box-info {
			width: 100%;

			bottom: -20px;
		}

		&__box-heading {
			margin-bottom: 5px;

			font-size: 20px;
			font-weight: bold;
			line-height: 150%;
			letter-spacing: 0.02em;

			color: $c-dark;

			text-transform: uppercase;
		}

		&__box-subheading {
			font-size: 15px;
			line-height: 150%;
			letter-spacing: -0.01em;

			color: $c-textGrey;
		}

		&__box-allProjects {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__box-allProjects-decor {
			display: flex;
			width: 120px;
			height: 120px;
			justify-content: center;
			align-items: center;
			margin-bottom: 24px;

			background-color: $c-accentGreen;
			
			border-radius: 100%;
			cursor: pointer;
			transition: background-color .3s;

			&:hover {
				background-color: $c-hoverGreen;
			}
		}
		
			

			
			// &:nth-child(1) {
			//   grid-column: 1/3; // вспоминаем урок, где выбираем откуда и докуда будет ячейка занимать место - помним, что -1 это конец, а на всю длинну 1/-1
			//   grid-row: 1/3;
			// }
			// &:nth-child(8) {
			//   grid-column: 3/5;
			//   grid-row: 3/5;
			// }
			
		@media screen and (max-width: 768px) {
			&:nth-child(1),
			&:nth-child(8) {
				grid-row: auto;
				grid-column: auto;
			}
		}
		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			grid-auto-rows: 300px;
		}
	}
}