// font
$mainFont: "Manrope-Regular", Helvetica, Arial, sans-serif;

// Size
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1200px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main Color
$mainFontColor:#646464;
$c-white      :#ffffff;
$c-black      :#000000;
$c-dark       :#333333;
$c-grey       :#767676;
$c-silver     :#ACA6A6;
$c-lightSelver:#A3A3A3;
$c-borderGrey :#C1C1C1;
$c-lightGrey  :#9E9E9E;
$c-textGrey   :#AAAAAA;
$c-activeDark :#060606;
$c-bgFooter   :#161616;
$c-accentGreen:#2FE69A;
$c-hoverGreen :#1ED98B;